
body {
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    margin: 0;
    padding: 0;
}

.team {
    text-align: center;
    padding: 50px 20px;
}

.team h1 {
    color: maroon;
    font-size: 36px;
    font-weight: 800;
}

P{
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    font-family: monospace,Arial, Helvetica, sans-serif;
}

.subtitle {
    color: #555;
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    max-width: 1100px;
    margin: auto;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    position: relative;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 15px 0 5px;
    color: maroon;
    font-family:'Times New Roman', Times, serif;
}

.card span {
    font-size: 14px;
    font-weight: 600;
    color: green;
}

.card p {
    font-size: 14px;
    font-family: monospace,Arial, Helvetica, sans-serif;
    margin: 15px 0;
}
 
.readmore .tooltip{
    background: rgb(0, 0, 0);
    color: #fff;
    position: absolute;
    bottom: -20px;
    font-size: small;
    padding: 8px;
    margin-left: 60px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.15s;
}

.readmore:hover .tooltip{
    opacity: 1;
}

button {
    background: maroon;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
}



footer{
    text-align:center;
    padding:10px;
    color:white;
    background: maroon;
    margin-bottom: 0px;
  }

/* Mobile optimization */
@media  (max-width:600px){
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 25px;
        max-width: 750px;
        margin: auto;
    }
    
    h1{font-size:22px;}
    .card{padding:15px;}
  }