
body {
  margin: 0;
  margin-top: 120px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: maroon;
  color: white;
  position:fixed ;
      top: 20px;
      left: 0;
      right: 0;
      height: 110px;
      width: auto;
      z-index: 100;
}

.right-header{
  display: flex;
  margin-right: 100px;
  width: 200px;
}

.middle-header{
  display: flex;
  align-items: center;
  justify-content: center;
flex: 1;
}

.left-header{
  display: flex;
  width: 200px;
}

.icons{
  height: 250px;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-left: 30px;
}

p{
  font-weight: bold;
  font-size: 25;
}

h2{
  font-size: 30px;
}
.slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

img {
  width: 400px;
  object-fit: contain;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.3);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }

.content {
  padding: 20px;
}

.leadership,.member,
.programs,.rules, .story{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  text-decoration: none;
  background: maroon;
  color: white;
  height: 100px;
  font-size: 30px;
}

.leadership:hover{
    background: rgb(56, 2, 2);
}

.programs:hover{
  background: rgb(56, 2, 2);
}

.rules:hover{
  background: rgb(56, 2, 2);
}

.story:hover{
  background: rgb(56, 2, 2);
}

a{
  text-decoration: none;
}
/* Mobile optimization */
@media (max-width:600px){
  .leadership,.member,
.programs,.rules, .story{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  text-decoration: none;
  background: maroon;
  color: white;
  height: 100px;
  font-size: 30px;
}
  h1{font-size:25px;}
  .card{padding:15px;}
}
